InfiniBiz/Version 2.1/Production/UIProjects/Web References/com.infinimarket.service/default.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/SingleSignIn/_Default" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/SingleSignIn/_Default" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/SingleSignIn/_Default">
      <s:element name="isSignIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isSignInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="isSignInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SignOutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_Id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterCustomerWithCustomerView">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterCustomerWithCustomerViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterCustomerWithCustomerViewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginFormationHouseCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginFormationHouseCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginFormationHouseCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerChildId_By_LiveUid_Domain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerChildId_By_LiveUid_DomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerChildId_By_LiveUid_DomainResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerChildID_By_MerchantID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerChildID_By_MerchantIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerChildID_By_MerchantIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMerchantLiveId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMerchantLiveIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMerchantLiveIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerLiveId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerLiveIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerLiveIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCustomerView">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCustomerViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateCustomerViewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterMerchant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterMerchantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterMerchantResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerAllChildIds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerAllChildIdsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerAllChildIdsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoRegisterFormationsHouseCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoRegisterFormationsHouseCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutoRegisterFormationsHouseCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterFormationHouseCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterFormationHouseCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterFormationHouseCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="xmlEnum" type="s0:XmlFormat" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="XmlFormat">
        <s:restriction base="s:string">
          <s:enumeration value="Customer_Registeration" />
          <s:enumeration value="Customer_login" />
          <s:enumeration value="Customer_details" />
          <s:enumeration value="Customer_View" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="isSignInSoapIn">
    <part name="parameters" element="s0:isSignIn" />
  </message>
  <message name="isSignInSoapOut">
    <part name="parameters" element="s0:isSignInResponse" />
  </message>
  <message name="SignOutSoapIn">
    <part name="parameters" element="s0:SignOut" />
  </message>
  <message name="SignOutSoapOut">
    <part name="parameters" element="s0:SignOutResponse" />
  </message>
  <message name="AddUserSoapIn">
    <part name="parameters" element="s0:AddUser" />
  </message>
  <message name="AddUserSoapOut">
    <part name="parameters" element="s0:AddUserResponse" />
  </message>
  <message name="RegisterCustomerSoapIn">
    <part name="parameters" element="s0:RegisterCustomer" />
  </message>
  <message name="RegisterCustomerSoapOut">
    <part name="parameters" element="s0:RegisterCustomerResponse" />
  </message>
  <message name="RegisterCustomerWithCustomerViewSoapIn">
    <part name="parameters" element="s0:RegisterCustomerWithCustomerView" />
  </message>
  <message name="RegisterCustomerWithCustomerViewSoapOut">
    <part name="parameters" element="s0:RegisterCustomerWithCustomerViewResponse" />
  </message>
  <message name="LoginCustomerSoapIn">
    <part name="parameters" element="s0:LoginCustomer" />
  </message>
  <message name="LoginCustomerSoapOut">
    <part name="parameters" element="s0:LoginCustomerResponse" />
  </message>
  <message name="LoginFormationHouseCustomerSoapIn">
    <part name="parameters" element="s0:LoginFormationHouseCustomer" />
  </message>
  <message name="LoginFormationHouseCustomerSoapOut">
    <part name="parameters" element="s0:LoginFormationHouseCustomerResponse" />
  </message>
  <message name="GetCustomerChildId_By_LiveUid_DomainSoapIn">
    <part name="parameters" element="s0:GetCustomerChildId_By_LiveUid_Domain" />
  </message>
  <message name="GetCustomerChildId_By_LiveUid_DomainSoapOut">
    <part name="parameters" element="s0:GetCustomerChildId_By_LiveUid_DomainResponse" />
  </message>
  <message name="GetCustomerChildID_By_MerchantIDSoapIn">
    <part name="parameters" element="s0:GetCustomerChildID_By_MerchantID" />
  </message>
  <message name="GetCustomerChildID_By_MerchantIDSoapOut">
    <part name="parameters" element="s0:GetCustomerChildID_By_MerchantIDResponse" />
  </message>
  <message name="GetMerchantLiveIdSoapIn">
    <part name="parameters" element="s0:GetMerchantLiveId" />
  </message>
  <message name="GetMerchantLiveIdSoapOut">
    <part name="parameters" element="s0:GetMerchantLiveIdResponse" />
  </message>
  <message name="GetCustomerLiveIdSoapIn">
    <part name="parameters" element="s0:GetCustomerLiveId" />
  </message>
  <message name="GetCustomerLiveIdSoapOut">
    <part name="parameters" element="s0:GetCustomerLiveIdResponse" />
  </message>
  <message name="GetCustomerInfoSoapIn">
    <part name="parameters" element="s0:GetCustomerInfo" />
  </message>
  <message name="GetCustomerInfoSoapOut">
    <part name="parameters" element="s0:GetCustomerInfoResponse" />
  </message>
  <message name="CreateCustomerViewSoapIn">
    <part name="parameters" element="s0:CreateCustomerView" />
  </message>
  <message name="CreateCustomerViewSoapOut">
    <part name="parameters" element="s0:CreateCustomerViewResponse" />
  </message>
  <message name="RegisterMerchantSoapIn">
    <part name="parameters" element="s0:RegisterMerchant" />
  </message>
  <message name="RegisterMerchantSoapOut">
    <part name="parameters" element="s0:RegisterMerchantResponse" />
  </message>
  <message name="GetCustomerAllChildIdsSoapIn">
    <part name="parameters" element="s0:GetCustomerAllChildIds" />
  </message>
  <message name="GetCustomerAllChildIdsSoapOut">
    <part name="parameters" element="s0:GetCustomerAllChildIdsResponse" />
  </message>
  <message name="AutoRegisterFormationsHouseCustomerSoapIn">
    <part name="parameters" element="s0:AutoRegisterFormationsHouseCustomer" />
  </message>
  <message name="AutoRegisterFormationsHouseCustomerSoapOut">
    <part name="parameters" element="s0:AutoRegisterFormationsHouseCustomerResponse" />
  </message>
  <message name="RegisterFormationHouseCustomerSoapIn">
    <part name="parameters" element="s0:RegisterFormationHouseCustomer" />
  </message>
  <message name="RegisterFormationHouseCustomerSoapOut">
    <part name="parameters" element="s0:RegisterFormationHouseCustomerResponse" />
  </message>
  <message name="GetXMLSoapIn">
    <part name="parameters" element="s0:GetXML" />
  </message>
  <message name="GetXMLSoapOut">
    <part name="parameters" element="s0:GetXMLResponse" />
  </message>
  <portType name="_DefaultSoap">
    <operation name="isSignIn">
      <input message="s0:isSignInSoapIn" />
      <output message="s0:isSignInSoapOut" />
    </operation>
    <operation name="SignOut">
      <input message="s0:SignOutSoapIn" />
      <output message="s0:SignOutSoapOut" />
    </operation>
    <operation name="AddUser">
      <input message="s0:AddUserSoapIn" />
      <output message="s0:AddUserSoapOut" />
    </operation>
    <operation name="RegisterCustomer">
      <input message="s0:RegisterCustomerSoapIn" />
      <output message="s0:RegisterCustomerSoapOut" />
    </operation>
    <operation name="RegisterCustomerWithCustomerView">
      <input message="s0:RegisterCustomerWithCustomerViewSoapIn" />
      <output message="s0:RegisterCustomerWithCustomerViewSoapOut" />
    </operation>
    <operation name="LoginCustomer">
      <input message="s0:LoginCustomerSoapIn" />
      <output message="s0:LoginCustomerSoapOut" />
    </operation>
    <operation name="LoginFormationHouseCustomer">
      <input message="s0:LoginFormationHouseCustomerSoapIn" />
      <output message="s0:LoginFormationHouseCustomerSoapOut" />
    </operation>
    <operation name="GetCustomerChildId_By_LiveUid_Domain">
      <input message="s0:GetCustomerChildId_By_LiveUid_DomainSoapIn" />
      <output message="s0:GetCustomerChildId_By_LiveUid_DomainSoapOut" />
    </operation>
    <operation name="GetCustomerChildID_By_MerchantID">
      <input message="s0:GetCustomerChildID_By_MerchantIDSoapIn" />
      <output message="s0:GetCustomerChildID_By_MerchantIDSoapOut" />
    </operation>
    <operation name="GetMerchantLiveId">
      <input message="s0:GetMerchantLiveIdSoapIn" />
      <output message="s0:GetMerchantLiveIdSoapOut" />
    </operation>
    <operation name="GetCustomerLiveId">
      <input message="s0:GetCustomerLiveIdSoapIn" />
      <output message="s0:GetCustomerLiveIdSoapOut" />
    </operation>
    <operation name="GetCustomerInfo">
      <input message="s0:GetCustomerInfoSoapIn" />
      <output message="s0:GetCustomerInfoSoapOut" />
    </operation>
    <operation name="CreateCustomerView">
      <input message="s0:CreateCustomerViewSoapIn" />
      <output message="s0:CreateCustomerViewSoapOut" />
    </operation>
    <operation name="RegisterMerchant">
      <input message="s0:RegisterMerchantSoapIn" />
      <output message="s0:RegisterMerchantSoapOut" />
    </operation>
    <operation name="GetCustomerAllChildIds">
      <input message="s0:GetCustomerAllChildIdsSoapIn" />
      <output message="s0:GetCustomerAllChildIdsSoapOut" />
    </operation>
    <operation name="AutoRegisterFormationsHouseCustomer">
      <input message="s0:AutoRegisterFormationsHouseCustomerSoapIn" />
      <output message="s0:AutoRegisterFormationsHouseCustomerSoapOut" />
    </operation>
    <operation name="RegisterFormationHouseCustomer">
      <input message="s0:RegisterFormationHouseCustomerSoapIn" />
      <output message="s0:RegisterFormationHouseCustomerSoapOut" />
    </operation>
    <operation name="GetXML">
      <input message="s0:GetXMLSoapIn" />
      <output message="s0:GetXMLSoapOut" />
    </operation>
  </portType>
  <binding name="_DefaultSoap" type="s0:_DefaultSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="isSignIn">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/isSignIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SignOut">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/SignOut" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/AddUser" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RegisterCustomer">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/RegisterCustomer" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RegisterCustomerWithCustomerView">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/RegisterCustomerWithCustomerView" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LoginCustomer">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/LoginCustomer" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LoginFormationHouseCustomer">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/LoginFormationHouseCustomer" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCustomerChildId_By_LiveUid_Domain">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/GetCustomerChildId_By_LiveUid_Domain" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCustomerChildID_By_MerchantID">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/GetCustomerChildID_By_MerchantID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMerchantLiveId">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/GetMerchantLiveId" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCustomerLiveId">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/GetCustomerLiveId" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCustomerInfo">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/GetCustomerInfo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateCustomerView">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/CreateCustomerView" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RegisterMerchant">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/RegisterMerchant" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCustomerAllChildIds">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/GetCustomerAllChildIds" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AutoRegisterFormationsHouseCustomer">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/AutoRegisterFormationsHouseCustomer" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RegisterFormationHouseCustomer">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/RegisterFormationHouseCustomer" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetXML">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/GetXML" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="_Default">
    <port name="_DefaultSoap" binding="s0:_DefaultSoap">
      <soap:address location="http://service.infinimarket.com/default.asmx" />
    </port>
  </service>
</definitions>