InfiniBiz/Version 2.1/Production/BackEndProjects/AccountsCentre.BLL/Web References/AccServices/accservices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:FHservices" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="urn:FHservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="urn:FHservices">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <s:complexType name="annualInfo">
        <s:all>
          <s:element name="year" type="s:decimal" />
          <s:element name="unpaidsharecapital" type="s:decimal" />
          <s:element name="cash" type="s:decimal" />
          <s:element name="netassets" type="s:decimal" />
          <s:element name="shfunds" type="s:decimal" />
        </s:all>
      </s:complexType>
      <s:complexType name="dcaInfo">
        <s:all>
          <s:element name="companynumber" type="s:string" />
          <s:element name="accDate" type="s:string" />
          <s:element name="currentyear" type="tns:annualInfo" />
          <s:element name="previousyear" type="tns:annualInfo" />
          <s:element name="isfirstyear" type="s:decimal" />
          <s:element name="allothedSharesNum" type="s:decimal" />
          <s:element name="totalSharesVal" type="s:decimal" />
          <s:element name="considerationVal" type="s:decimal" />
          <s:element name="isAgent" type="s:decimal" />
          <s:element name="isStatuary" type="s:decimal" />
        </s:all>
      </s:complexType>
      <s:complexType name="ReturnMsg">
        <s:all>
          <s:element name="ERRORCODE" type="s:byte" />
          <s:element name="ERRORDESC" type="s:string" />
          <s:element name="REFERENCEID" type="s:decimal" />
        </s:all>
      </s:complexType>
      <s:complexType name="subaccountInfo">
        <s:all>
          <s:element name="companyname" type="s:string" />
          <s:element name="companynumber" type="s:string" />
          <s:element name="customerid" type="s:string" />
          <s:element name="subaccount" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="updateMsg">
        <s:all>
          <s:element name="ERRORCODE" type="s:byte" />
          <s:element name="ERRORDESC" type="s:string" />
        </s:all>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="submitDCARequest">
    <wsdl:part name="forminfo" type="tns:dcaInfo" />
  </wsdl:message>
  <wsdl:message name="submitDCAResponse">
    <wsdl:part name="return" type="tns:ReturnMsg" />
  </wsdl:message>
  <wsdl:message name="updateAccountSubidRequest">
    <wsdl:part name="updateinfo" type="tns:subaccountInfo" />
  </wsdl:message>
  <wsdl:message name="updateAccountSubidResponse">
    <wsdl:part name="return" type="tns:updateMsg" />
  </wsdl:message>
  <wsdl:portType name="FHservicesPortType">
    <wsdl:operation name="submitDCA">
      <wsdl:input message="tns:submitDCARequest" />
      <wsdl:output message="tns:submitDCAResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateAccountSubid">
      <wsdl:input message="tns:updateAccountSubidRequest" />
      <wsdl:output message="tns:updateAccountSubidResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FHservicesBinding" type="tns:FHservicesPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="submitDCA">
      <soap:operation soapAction="urn:FHservices#submitDCA" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:FHservices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:FHservices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAccountSubid">
      <soap:operation soapAction="urn:FHservices#submitDCA" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:FHservices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:FHservices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FHservices">
    <wsdl:port name="FHservicesPort" binding="tns:FHservicesBinding">
      <soap:address location="http://webservices.formationshouse.com/accservices.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>