InfiniBiz/Version 2.1/Production/UIProjects/Web References/infinibiz.accounts.webservices/customer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/CustomerProcessing/CustomerProcessing" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/CustomerProcessing/CustomerProcessing" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/CustomerProcessing/CustomerProcessing">
      <s:element name="getActivationInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OrderNo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SerialNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getActivationInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getActivationInfoResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="activate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OrderNo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SerialNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="activateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="activateResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="logininfo" type="s0:AutoLoginStruct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AutoLoginStruct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="customerid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serviceid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="loginid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AutoLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AutoLoginResult" type="s0:AutoLoginResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AutoLoginResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ERRORCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERRORDESC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="newwin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="winparam" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="variablename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="link" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LogOff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="logoffinfo" type="s0:AutoLogOffStruct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AutoLogOffStruct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="refId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LogOffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogOffResult" type="s0:logoffReturnMsg" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="logoffReturnMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ERRORCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERRORDESC" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="getActivationInfoSoapIn">
    <part name="parameters" element="s0:getActivationInfo" />
  </message>
  <message name="getActivationInfoSoapOut">
    <part name="parameters" element="s0:getActivationInfoResponse" />
  </message>
  <message name="activateSoapIn">
    <part name="parameters" element="s0:activate" />
  </message>
  <message name="activateSoapOut">
    <part name="parameters" element="s0:activateResponse" />
  </message>
  <message name="AutoLoginSoapIn">
    <part name="parameters" element="s0:AutoLogin" />
  </message>
  <message name="AutoLoginSoapOut">
    <part name="parameters" element="s0:AutoLoginResponse" />
  </message>
  <message name="LogOffSoapIn">
    <part name="parameters" element="s0:LogOff" />
  </message>
  <message name="LogOffSoapOut">
    <part name="parameters" element="s0:LogOffResponse" />
  </message>
  <portType name="CustomerSoap">
    <operation name="getActivationInfo">
      <input message="s0:getActivationInfoSoapIn" />
      <output message="s0:getActivationInfoSoapOut" />
    </operation>
    <operation name="activate">
      <input message="s0:activateSoapIn" />
      <output message="s0:activateSoapOut" />
    </operation>
    <operation name="AutoLogin">
      <input message="s0:AutoLoginSoapIn" />
      <output message="s0:AutoLoginSoapOut" />
    </operation>
    <operation name="LogOff">
      <input message="s0:LogOffSoapIn" />
      <output message="s0:LogOffSoapOut" />
    </operation>
  </portType>
  <binding name="CustomerSoap" type="s0:CustomerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="getActivationInfo">
      <soap:operation soapAction="http://tempuri.org/CustomerProcessing/CustomerProcessing/getActivationInfo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="activate">
      <soap:operation soapAction="http://tempuri.org/CustomerProcessing/CustomerProcessing/activate" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AutoLogin">
      <soap:operation soapAction="http://tempuri.org/CustomerProcessing/CustomerProcessing/AutoLogin" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LogOff">
      <soap:operation soapAction="http://tempuri.org/CustomerProcessing/CustomerProcessing/LogOff" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Customer">
    <port name="CustomerSoap" binding="s0:CustomerSoap">
      <soap:address location="http://webservices.accounts.infinibiz/customer.asmx" />
    </port>
  </service>
</definitions>