InfiniBiz/Version 2.1/Production/UIProjects/Web References/ACCUstomer/Customer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/CustomerProcessing/CustomerProcessing" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/CustomerProcessing/CustomerProcessing" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/CustomerProcessing/CustomerProcessing">
      <s:element name="GetActivationInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OrderNo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SerialNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActivationInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActivationInfoResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Activate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OrderNo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SerialNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivateResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetActivationInfoSoapIn">
    <part name="parameters" element="s0:GetActivationInfo" />
  </message>
  <message name="GetActivationInfoSoapOut">
    <part name="parameters" element="s0:GetActivationInfoResponse" />
  </message>
  <message name="ActivateSoapIn">
    <part name="parameters" element="s0:Activate" />
  </message>
  <message name="ActivateSoapOut">
    <part name="parameters" element="s0:ActivateResponse" />
  </message>
  <portType name="CustomerSoap">
    <operation name="GetActivationInfo">
      <input message="s0:GetActivationInfoSoapIn" />
      <output message="s0:GetActivationInfoSoapOut" />
    </operation>
    <operation name="Activate">
      <input message="s0:ActivateSoapIn" />
      <output message="s0:ActivateSoapOut" />
    </operation>
  </portType>
  <binding name="CustomerSoap" type="s0:CustomerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetActivationInfo">
      <soap:operation soapAction="http://tempuri.org/CustomerProcessing/CustomerProcessing/GetActivationInfo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Activate">
      <soap:operation soapAction="http://tempuri.org/CustomerProcessing/CustomerProcessing/Activate" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Customer">
    <port name="CustomerSoap" binding="s0:CustomerSoap">
      <soap:address location="http://accounts.infinibiz.com/Customer/Customer.asmx" />
    </port>
  </service>
</definitions>