InfiniBiz/Version 2.1/Production/UIProjects/Web References/com.infinibiz.accounts/login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://accounts.infinibiz.com/InfiniLogic.AccountsCentre.Web/Login" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://accounts.infinibiz.com/InfiniLogic.AccountsCentre.Web/Login" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://accounts.infinibiz.com/InfiniLogic.AccountsCentre.Web/Login">
      <s:element name="AutoLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="logininfo" type="s0:AutoLoginStruct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AutoLoginStruct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="customerid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serviceid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="loginid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AutoLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AutoLoginResult" type="s0:AutoLoginResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AutoLoginResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ERRORCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERRORDESC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="newwin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="winparam" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="variablename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="link" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LogOff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="logoffinfo" type="s0:AutoLogOffStruct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AutoLogOffStruct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="refId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LogOffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogOffResult" type="s0:logoffReturnMsg" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="logoffReturnMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ERRORCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERRORDESC" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="AutoLoginSoapIn">
    <part name="parameters" element="s0:AutoLogin" />
  </message>
  <message name="AutoLoginSoapOut">
    <part name="parameters" element="s0:AutoLoginResponse" />
  </message>
  <message name="LogOffSoapIn">
    <part name="parameters" element="s0:LogOff" />
  </message>
  <message name="LogOffSoapOut">
    <part name="parameters" element="s0:LogOffResponse" />
  </message>
  <portType name="LoginSoap">
    <operation name="AutoLogin">
      <input message="s0:AutoLoginSoapIn" />
      <output message="s0:AutoLoginSoapOut" />
    </operation>
    <operation name="LogOff">
      <input message="s0:LogOffSoapIn" />
      <output message="s0:LogOffSoapOut" />
    </operation>
  </portType>
  <binding name="LoginSoap" type="s0:LoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="AutoLogin">
      <soap:operation soapAction="http://accounts.infinibiz.com/InfiniLogic.AccountsCentre.Web/Login/AutoLogin" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LogOff">
      <soap:operation soapAction="http://accounts.infinibiz.com/InfiniLogic.AccountsCentre.Web/Login/LogOff" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Login">
    <port name="LoginSoap" binding="s0:LoginSoap">
      <soap:address location="http://accounts.infinibiz.com/account/login.asmx" />
    </port>
  </service>
</definitions>