InfiniBiz/Version 2.1/Production/UIProjects/Web References/com.reseller.webservices1/ServiceActivation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EnabledServices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResellerID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IsOrderSuccess" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="PayMode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnabledServicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnabledServicesResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrderActivationTrack">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Info" type="tns:ArrayOfActivationTrackInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfActivationTrackInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ActivationTrackInfo" type="tns:ActivationTrackInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ActivationTrackInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResellerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Detail" type="tns:ArrayOfActivationTrackDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfActivationTrackDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ActivationTrackDetail" type="tns:ActivationTrackDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ActivationTrackDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FHSerialNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddOrderActivationTrackResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ERRORCODE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ERRORDESC" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddOrderActivationTrackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddOrderActivationTrackResult" type="tns:AddOrderActivationTrackResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsOrderActivated">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Info" type="tns:IsOrderActivatedInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IsOrderActivatedInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResellerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FHSerialNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IsOrderActivatedResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ERRORCODE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ERRORDESC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderAlreadyActivated" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="IsOrderActivatedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsOrderActivatedResult" type="tns:IsOrderActivatedResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnabledServicesSoapIn">
    <wsdl:part name="parameters" element="tns:EnabledServices" />
  </wsdl:message>
  <wsdl:message name="EnabledServicesSoapOut">
    <wsdl:part name="parameters" element="tns:EnabledServicesResponse" />
  </wsdl:message>
  <wsdl:message name="AddOrderActivationTrackSoapIn">
    <wsdl:part name="parameters" element="tns:AddOrderActivationTrack" />
  </wsdl:message>
  <wsdl:message name="AddOrderActivationTrackSoapOut">
    <wsdl:part name="parameters" element="tns:AddOrderActivationTrackResponse" />
  </wsdl:message>
  <wsdl:message name="IsOrderActivatedSoapIn">
    <wsdl:part name="parameters" element="tns:IsOrderActivated" />
  </wsdl:message>
  <wsdl:message name="IsOrderActivatedSoapOut">
    <wsdl:part name="parameters" element="tns:IsOrderActivatedResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceActivationSoap">
    <wsdl:operation name="EnabledServices">
      <wsdl:input message="tns:EnabledServicesSoapIn" />
      <wsdl:output message="tns:EnabledServicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddOrderActivationTrack">
      <wsdl:input message="tns:AddOrderActivationTrackSoapIn" />
      <wsdl:output message="tns:AddOrderActivationTrackSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsOrderActivated">
      <wsdl:input message="tns:IsOrderActivatedSoapIn" />
      <wsdl:output message="tns:IsOrderActivatedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceActivationSoap" type="tns:ServiceActivationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnabledServices">
      <soap:operation soapAction="http://tempuri.org/EnabledServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrderActivationTrack">
      <soap:operation soapAction="http://tempuri.org/AddOrderActivationTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsOrderActivated">
      <soap:operation soapAction="http://tempuri.org/IsOrderActivated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceActivationSoap12" type="tns:ServiceActivationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    <wsdl:operation name="EnabledServices">
      <soap12:operation soapAction="http://tempuri.org/EnabledServices" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrderActivationTrack">
      <soap12:operation soapAction="http://tempuri.org/AddOrderActivationTrack" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsOrderActivated">
      <soap12:operation soapAction="http://tempuri.org/IsOrderActivated" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceActivation">
    <wsdl:port name="ServiceActivationSoap" binding="tns:ServiceActivationSoap">
      <soap:address location="http://webservices.reseller.com/reseller/ServiceActivation.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceActivationSoap12" binding="tns:ServiceActivationSoap12">
      <soap12:address location="http://webservices.reseller.com/reseller/ServiceActivation.asmx" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>